<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Auto daily by Hira</title>
    <link rel="stylesheet" href="styles.css"> <!-- Liên kết đến tệp CSS -->
    <script src="https://unpkg.com/mqtt/dist/mqtt.min.js"></script>
    <script src = "main.js"></script> <!-- Liên kết đến tệp JS -->
    <!-- no icon -->
    
</head>
<body>
    <div id="loader-container">
    <span class="loader"></span>
    </div>
    <nav>
        <ul>
            <li id="home"><a href="/">HOME</a></li>
            <li id="doc"><a href="/doc">Docs</a></li>

            <li id="nav-account"><a href="/account">Account</a></li>
            <li id ='nav-game'><a href="/game">GAME</a></li>
        </ul>
    </nav>
    <div class="body-content">
    <form id="my-form" >
        <h2>Add your account here!</h2>
        <div class="input-container" >
            <input type = "text" name ="nickname" required placeholder="nickname" id="nickname">
            <textarea name="token" rows="4" required cols="50" placeholder="token" id="token"></textarea>
        </div>
        <div class="input-container" id="check-box-list">
    </div>
    <button type="submit">Add Account</button>
    <button type="button" id = 'get-cookie-btn'>Auto Get Token</button>
    <button type="button" id = 'login-done-btn' style="display:none ;">Login Get Token Done</button>
    </form>
    </div>
</body>
</html>